## Mettre le système en Français
d-i debian-installer/locale string fr_FR.UTF-8
d-i keyboard-configuration/xkb-keymap select fr(latin9)
d-i keyboard-configuration/layout string French
d-i keyboard-configuration/layoutcode string fr
d-i keymap skip-config


d-i netcfg/choose_interface select auto

## Ici, la machine se nommera "ubuntu-auto"
d-i netcfg/hostname string ubuntu-auto



# Définir le mot de passe root
d-i passwd/root-login boolean true
d-i ssh/permit-root-login boolean true
d-i passwd/root-password password root
d-i passwd/root-password-again password root
d-i user-setup/allow-password-weak boolean true

# Créer un utilisateur student1
d-i passwd/user-fullname string Student
d-i passwd/username string student
d-i passwd/user-password password student
d-i passwd/user-password-again password student
d-i user-setup/allow-password-weak boolean true


## Configurer la date et l'heure
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris

# Effacer le disque avant la création des partitions
d-i partman-auto-cleanup string yes

# Utiliser tout le disque pour la partition principale
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-auto/expert_recipe string \
      boot-root :: \
            512 512 512 ext4 \
                  $primary{ } \
                  $bootable{ } \
                  method{ format } \
                  format{ } \
                  use_filesystem{ } \
                  filesystem{ ext4 } \
                  mountpoint{ /boot } \
            . \
            2048 2048 2048 ext4 \
                  $primary{ } \
                  method{ format } \
                  format{ } \
                  use_filesystem{ } \
                  filesystem{ ext4 } \
                  mountpoint{ / } \
            .

# Ne pas créer de partition swap
d-i partman-auto/no_swap boolean true

# Écrire les modifications sur le disque sans demander confirmation
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true


## Définition du dépôt des mises à jours de sécurités
#d-i apt-setup/services-select multiselect security
#d-i apt-setup/security_host string security.debian.org


## Participation à l'étude statistique d'utilisation des paquets
## Désactivée
popularity-contest popularity-contest/participate boolean false

## Type d'installation
## Utilitaires usuels du systèmes
tasksel tasksel/first multiselect standard, openssh-server
#tasksel tasksel/first multiselect standard, xubuntu-desktop

## Installation d'utilitaires supplémentaires
d-i pkgsel/include string openssh-server vim tree htop bash-completion nano software-properties-common apt-transport-https wget gpg

## Installer GRUB sur /dev/sda sans poser question
#d-i grub-installer/bootdev string /dev/sda
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default


## Exécuter un script après l'installation
d-i preseed/late_command string in-target wget -P /root/.ssh/ http://10.0.0.1/script/id_rsa.pub; in-target wget -P /root/.ssh/ http://10.0.0.1/script/id_rsa; in-target chmod 600 /root/.ssh/id_rsa; in-target mkdir /root/.ssh; in-target wget -P /root/.ssh/ http://10.0.0.1/script/authorized_keys; in-target wget -P /root/ http://10.0.0.1/script/copy_home_new_session.sh; in-target chmod +x /root/copy_home_new_session.sh; in-target bash /root/copy_home_new_session.sh;
#in-target wget -P /root/.ssh/ http://10.0.0.1/script/id_rsa.pub; 
#in-target wget -P /root/.ssh/ http://10.0.0.1/script/id_rsa; 
#in-target chmod 600 /root/.ssh/id_rsa; 
#in-target mkdir /root/.ssh; 
#in-target wget -P /root/.ssh/ http://10.0.0.1/script/authorized_keys; 
#in-target wget -P /root/ http://10.0.0.1/script/copy_home_new_session.sh; 
#in-target chmod +x /root/copy_home_new_session.sh; 
#in-target sh /root/copy_home_new_session.sh;

#d-i finish-install/reboot_in_progress note
